html{
    background-color: #333333;
}

p{
    color: #808080;
}

.title{
    color: #9A3800;
    font-size: 32px;
}

#logo{
    height: 100px;
    width: 100px;
    float:left;
}

#Banner {
    margin: 0 auto;
    width: 100%;
    height: 100px;

    font-size: 74px;
    color: #FFB489;

    background-color: #FF6813;

    vertical-align: central;
}

#Menu {
    width: 100%;
    height: 30px;

    text-align: center;

    background-color: #333333;
    
    border-bottom: 1px #9A3800 solid;
}

.MenuItem {
    display:inline-block;
    width: 150px;
    height: 23px;

    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    background-color: #9A3800;

    margin: 4px 1px 2px 1px;
}

.MenuItem:hover {
    color: #9A3800;
    background-color: #FFB489;
    animation-name: enlargeMenuItem;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes enlargeMenuItem {
    0%   {width:150px;}
    25%   {width:200px;}
    100% {width:150px;}
}

#Body{
     width: 100%;
     height: 591px;

     text-align: center;

     background-color: #202020;
     
     margin: 0 auto;
}

#Footer {
    width: 100%;
    height: 22px;

    color: #FFB489;
    text-align: center;

    background-color: #9A3800;

    border-top: 1px #9A3800 solid;
    border-bottom: 1px #9A3800 solid;
}

.RecipeListItemContainer {
    display: inline-block;
    width: 290px;
    height: 290px;

    text-decoration: none;
    color: white;
    font-size: 16px;

    margin-top: 2px;
    border-radius:20px;
}

.RecipeListItemContainer:hover {
    color: #FF6813;
}

.RecipeListItemImg {
    width: 290px;
    height: 290px;

    border-radius: 5px;
}

.RecipeListItemTxt {
    display: block;
	margin-top: -80px;
    text-align: left;
}

.RecipeListItemTxt span{
    display:inline-block;
    background-color: #333333;
    width: 100%;
    opacity: 0.7;		 
}

.RecipeListItemContainerSearch {
    display: inline-block;
    width: 450px;
    height: 86px;
    
    color: #D84315;
    font-size: 46px;
    text-align: left;
    text-decoration: none;

    margin: 4px auto;
    border: 1px solid;
    border-color: #D84315;
}

.RecipeListItemContainerSearch:hover {
    color: #ffffff;
    background: #FF6813;
}

.RecipeListItemImgSearch {
    width: 80px;
    height: 80px;

    margin: 3px 0 0 3px;
    border-radius: 5px;
}

.RecipeListItemTxtSearch {
    display: block;

    margin-top: -85px;
    margin-left: 90px;

    text-decoration: underline;
}

.InputControl {
    display:inline-block;
    width: 450px;

    font-size: 30px;

    margin: 1px 7px;
}

.InputControl.EditMode {
    display:inline-block;
    width: 310px;

    font-size: 30px;

    margin: 1px 7px;
}

.LabelInputControl {
    display:inline-block;
    width: 100px; 
    font-size: 15px;
    color: #D84315;
}

.LabelInputControl.EditMode {
    width: 30px;
    text-align:left;
}

.Validator {
    float:right;
    color: #FF0000;
}

.ValidatorSummary {
    margin: 0 auto;
    width:350px;
    text-align:center;
    color: #FF0000;
}

.TextBoxInputControl { 
    display: inline-block;

    width: 300px;
    height: 25px;
    
    font-size: large;
    color: #D84315;

    border: 1px;
    border-style: solid;
    border-color: #D84315;
}

.TextBoxInputControl.EditMode {
    width: 200px;
    height: 20px;
    font-size:medium;
}

.InputForm {
  display: block;
}

.ButtonControl { 
    width: 150px;
    height: 30px;

    font-size: large;
    color: #ffffff;

    background-color: #9A3800;

    margin-top: 10px;
}

.ViewRecipeContent {
    height: 591px;
    width: 98%;

    margin: 0 auto;
}

.ViewRecipeOverview {
    height: 100%;
    width: 23%;
    float:left;
}

.ViewRecipeImageContainer {
    height: 40%;
    width: 100%;

    border-radius: 5px;

    margin-top: 2px;
}

.ViewRecipeImage {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.ViewRecipeInformation {
    height: 59.7%;
    width: 100%;
}

.ViewRecipeDescription {
    height: 87.6%;
    width: 100%;

    margin-top: 5px;

    border-radius: 5px;
    border: 1px solid #9A3800;

    color: #808080;
}

.ViewRecipeSubmittedBy {
    display:flex;

    height: 7%;
    width: 100%;

    margin-top: 5px;
    
    border: 1px solid #9A3800;
    border-radius: 5px;

    color: #808080;

    align-items: center;
}

.ViewRecipeDetails {
    height: 100%;
    width: 76%;
    float: right;
    margin-left: 5px;
    margin: auto;
    position: relative;
    top: 2%;
}

.ViewRecipeIngredients {
    height: 48%;
    width: 100%;

    border: 1px solid #9A3800;
    border-radius: 5px;
}

.IngredientListItem {
    height: 28px;
    width: 96%;

    border: 1px solid #9A3800;
    border-radius: 50px;

    text-align: left;

    margin-left: 15px;
    margin-top: 5px;

    color: #808080;
}

.IngredientListItem:hover{
    background-color: #9A3800;
    color: #ffffff;
}

.IngredientListText {
    display: block;

    margin-left: 12px;
    margin-top: 4px;
}

.ViewRecipeDirections{
    height: 48%;
    width: 100%;

    margin-top: 5px;
    
    border: 1px solid #9A3800;
    border-radius: 5px;

    color: #808080;
}

.AddRecipeForm {
    width: 100%;
    height: 98%;
}

.AddRecipeContent{
    width: 49%;
    height: 100%;
    
    border: solid 1px #9A3800;
    border-radius: 5px;

    margin-top: 5px;
}

.AddRecipeDetails {
    margin: 0 auto;
    height: 75%;
}

.AddRecipeContent.FloatLeft{
    margin-left: 0.5%;
    float: left;
}

.AddRecipeContent.FloatRight {
    margin-right: 0.5%;
    float: right;
}

.AddRecipeComponents {
    width: 98%;
    height: 25%;
}

.AddRecipeInformation{
    margin: 0 auto;
    float:left;
}

.AddRecipeInformation.Hide{
    animation-name: enlarge;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.AddRecipeInformation.Show{
    width: 470px;
    animation-name: reduce;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes enlarge {
    0%   {width:470px}
    25%   {width:70%;}
    100% {width:100%;}
}

@keyframes reduce {
    0%   {width:100%}
    25%   {width:70%;}
    100% {width:470px;}
}

.AddCategory{
    opacity:0;

    float:left;

    width: 200px;
    height: 65px;

    margin-top: 113px;

    border-radius: 5px;
    border: 1px solid #9A3800
}

.AddCategory.Hide{
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.AddCategory.Show{
    opacity:1;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes fadeIn {
    0%   {opacity:0;}
    90%   {opacity:0.5;}
    100% {opacity:1;}
}

@keyframes fadeOut {
    0%   {opacity:1;}
    25%   {opacity:0.5;}
    100% {opacity:0;}
}

.IngredientsGrid{
    border: #9A3800;
    color: #9A3800;
    margin: 0 auto;
}